<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href='{% static "css/style.css" %}' />
    <title>Kala Group Pvt. Ltd.</title>
  </head>
  <body>

    {% include 'navbar.html' %}
      
    {% block content %}



    {% endblock content %}

    <section class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="footer__location">
              <h3 class="brand-name">KALA GROUP</h3>
              <p>P. O. Box: 1234 Nilkantha, Dhading, Nepal</p>
              <p>Phone: +977 123456789</p>
              <p>Fax: +977 123456789</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="footer__navigation text-sm-start">
              <h3>Navigation</h3>
              <a class="text-decoration-none" href="{% url 'services' %}">
                <p>Services</p>
              </a>
              <a class="text-decoration-none" href="{% url 'subsidiaries' %}">
                <p>Our Subsidiary</p>
              </a>
              <a class="text-decoration-none" href="{% url 'blogs' %}">
                <p>Blogs</p>
              </a>
              <a class="text-decoration-none" href="{% url 'blogs' %}">
                <p>Career</p>
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="footer__social">
              <h3>Social Links</h3>
              <ul>
                <li><i class="fa-brands fa-facebook"></i></li>
                <li><i class="fa-brands fa-twitter"></i></li>
                <li><i class="fa-brands fa-instagram"></i></li>
                <li><i class="fa-brands fa-linkedin"></i></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src='{% static "js/main.js" %}' ></script>
    <script src='{% static "js/Carousel.js" %}' ></script>

  </body>
</html>
