.blogs {
    .blogs__title {
        margin-bottom: 30px;
        a {
            h1 {
                color: #079b00;
                font-size: 40px;
            }
        }
        
    }

    .blogs__body {
        .blog {
            margin-bottom: 40px;
            img {
                width: 100%;
                box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
            }
            p {
                margin-bottom: 0px;
                margin-top: 20px;
                font-size: 16px;
            }
            h6 {
                font-size: 18px;
                color: #2b2b2b;
                font-weight: 700;
            }
        }
    }
}